<section class="our-work-content">
  <div class="container">
    <div class="row">
    <h1 class="text-center">Contact Us</h1>
      <div class="col-md-6 col-sm-12">
        <div class="contact-form">
          
          <%= form_for(:contact, url: contact_path) do |f| %>
            <div class="row">
              <div class="comment-box"></div>
              <div class="col-md-6 form-group">
               <%= f.text_field :name, class: "form-control", placeholder: "Name", type:"text", required: :true%>
              </div> 
              <div class="col-md-6 form-group">
                <%= f.email_field :email, class: "form-control", placeholder: "Email", type:"text", required: :true%>
              </div>
              <label class="col-md-12 control-label" for="textarea"></label>

              <div class="col-md-12">
                <%= f.text_area :message, class: "form-control", id: "textarea", required: :true%>
              </div>
              <div class="col-md-8 text-left">
               <%= f.submit "send message", class: "btn btn btn-warning"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="contact-add-box">
          <ul class="address-details">
            <h3>Our Address</h3>
            <li><i class="glyphicon glyphicon-map-marker"></i> 303, HeyDay Technologies Mangal </li>
             <li class="address">Nagar Road Indore, Madhya Pradesh India.</li>
            <li><i class="fa fa-phone"></i>07314972670</li>
            <li><i class="glyphicon glyphicon-envelope"> </i>hello@heydaytechnologies.com</li>
          </ul>
        </div>
      </div>
  
    </div>
  </div>
</section>
<div class="map-frame">
      <div class="container-fliud">
        <div class="row">
          <div class="col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5205.905683894717!2d75.85696161259408!3d22.686158907633477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcf129c55555%3A0x1d900acb06ce2221!2sHeyDay+Technologies!5e0!3m2!1sen!2sin!4v1516713958495" width="100%  " height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  </div>
