<html>
	<head>
		<title>404 error page Responsive  Website Template | Home :: w3layouts</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="assets/style2.css" rel="stylesheet" type="text/css" media="all" />
	</head>
  <body class="color">
  <div class="wrap">
    <div class="content">
      <div class="logo">
				<h1><span class="heading">500</a></span></h1>
				<span><img src="/assets/signal.png"/>Oops! Internal Server Error!</span>
			</div>
      <div class="buttom">
				<div class="seach_bar">
					<p>You can go to <span><%= link_to 'home', "/" %></span> page </p>
				</div>
				
			</div>

		</div>
    </p>
	</div>
</body>
</html>