<section class="middle-section"><!--middle-section start -->
	<div class="container">
		<div class="row">
			<div class="type-wrap">
				<div id="typed-strings">
					<h1>Welcome at <strong>HeyDay Technologies</strong></h1>
					<h1>We turn dreams into reality</h1>
					<h1>People care about</h1>
					<p>Give us a chance!</p>
				</div>
				<span id="typed" style="white-space:pre;"></span>
			</div>

				<a href="#image"  class="btn btn-start tour">Let's start a tour!</a> 

		</div>
	</div>
</section><!--middle-section end -->

<section class="how-we-work-section" id="image"><!--how-we-work-section start -->
	<div class="container">
		<h1>
			How <strong>HeyDay Technologies</strong> work?
		</h1>
		<div class="row">
			<div class="how-we-work-img" >
				<img src="/assets/how-we-work.png" class="img-responsive center-block" alt="How we work">
			</div>
		</div>
	</div>
</section><!--how-we-work-section end -->

<section class="we-are-global-section"><!--we-are-global-section start -->
	<div class="container">
		<div class="row">
			<h1>
				<em>HeyDay Technologies</em>
				Is a global desgin and development consultancy platform.
			</h1>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="icon">
					<i class="fa fa-cube fa-2x" aria-hidden="true"></i>
				</div>
				<p>Creative People</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="icon">
					<i class="fa fa-connectdevelop fa-2x" aria-hidden="true"></i>
				</div>
				<p>Innovative Minds</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="icon">
					<i class="fa fa-check-circle-o fa-2x"> </i>
				</div>
				<p>Quality</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="icon">
					<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
				</div>
				<p>Best Results</p>
			</div>
		</div>
	</div>
</section><!--we-are-global-section end -->

<section class="testimonial-section"><!--testimonial-section start -->
	<div class="container">
		<div class="row">
			<h2>Why people love us <i class="fa fa-smile-o" aria-hidden="true"></i></h2>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<p>
							Very professional team and Quick communication, They are not only best engineers but a true firend also. They “Also helped me how I can brand my web app and what marketing strategies I should follow. I would give them 10 on 10.

							<span><strong>Mr. Jhon Mathew</strong> Social Network, Uk</span>
						</p>
					</div>
					<div class="item">
						<p>
							Very interesting team and very responsive, They are damn good. 
							I would recommend give them.
							They are so innovative and creative geeks.
							<br>
							<span><strong>Mr. A. H. Hameed</strong> Web App, UAE</span>
						</p>
					</div>
              
					<div class="item">
						<p>
							Awesome team and Quick communication, They helped me to build my Web App “Also helped me how I can brand my web app, Now My app has 60,000 Users, and I would love to recommend HeyDay Technologies Team.

							<span><strong>Mr. Gorge</strong>Social App, USA</span>
						</p>                
					</div>
				</div>           
			</div>
		</div>
	</div>
</section><!--testimonial-section end -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
	$(function(){
		$("#typed").typed({
			stringsElement: $('#typed-strings'),
			typeSpeed: 100,
			backDelay: 500,
			loop: false,
			contentType: 'html', // or text
			// defaults to false for infinite loop
			loopCount: false,
			callback: function(){ foo(); },
			resetCallback: function() { newTyped(); }
		});

		$(".reset").click(function(){
			$("#typed").typed('reset');
		});
	});
	function newTyped(){ /* A new typed object */ }

	function foo(){ console.log("Callback"); }

	$(".tour").click(function() {
    $('html, body').animate({
      scrollTop: $("#image").offset().top
    }, 2000);
    event.preventDefault();
    event.stopPropagation();
   });
</script>
