<section class="sitemap-banner"><!--sitemap-banner start -->
<div class="container">
  <div class="row">
    <h1>Sitemap </h1>
  </div>
</div>
</section><!--sitemap-banner end -->

<section class="sitemap-content">
<div class="container">
  <div class="row">
    <div class="block-content">
      <div class="block-content-texts">
        <h2>Sitemap content</h2>

        <p>Here is an overview of the Site Map :</p>

        <ul>
          <li>The Homepage :&nbsp;<%= link_to 'HeyDay Technologies.com', '/' %></li>
          <li>The Presentation of the HeyDay Technologies :&nbsp;
            <%= link_to 'HeyDay Technologies.com/aboutUs', '/aboutUs' %>
          </li>
          <li>The list of all the services by HeyDay Technologies :&nbsp;<%= link_to 'HeyDay Technologies.com/services', '/services' %></li>
          <li>HeyDay Technologies news and events :&nbsp;<a href="HeyDay Technologies.com/news">HeyDay Technologies.com/hts-channel</a></li>
          <li>The contact page :&nbsp;<%= link_to 'HeyDay Technologies.com/contact', '/contact' %></li>
          <li>The application page :&nbsp;<a href="HeyDay Technologies.com/let's-connect">HeyDay Technologies.com/let's-connect</a></li>
          <li>Our portfolio :&nbsp;<%= link_to 'HeyDay Technologies.com/works', '/work'%></li>
          <li>The press release page :&nbsp;<a href="HeyDay Technologies.com/hts-channel">HeyDay Technologies.com/hts-channel</a></li>
          <li>How HeyDay Technologies :&nbsp;<%= link_to 'HeyDay Technologies.com/services', '/services' %></li>
          <li>The Career page :&nbsp;<%= link_to 'HeyDay Technologies.com/careers', '/career' %></li>
          <li>The Blog page :&nbsp;<%= link_to 'HeyDay Technologies.com/blog', '/posts' %> </li>
        </ul>

        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
</section>
