<html>
	<head>
		<title>0hh Website Template | Home :: W3layouts</title>
		<meta name="keywords" content="404 iphone web template, Android web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<h1><a href="#">Ohh</a></h1>
			</div>
		</div>
	<div class="content">
		<img src="images/error-img.png" title="error" />
	</div>
	