/*/** Font family **/
@font-face {
  font-family: 'ProximaNovaA-Light';
  src:  url('/assets/ProximaNovaA-Light.otf')  format('opentype'),
       url('/assets/ProximaNovaA-Light.woff') format('woff'),
       url('/assets/ProximaNovaA-Light.eot') format('embedded-opentype'), 
       url('/assets/ProximaNovaA-Light.ttf')  format('truetype'), 
       url('/assets/ProximaNovaA-Light.svg#ProximaNovaA-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src:  url('/assets/Roboto-Bold.woff') format('woff'),
  url('/assets/Roboto-Bold.eot') format('embedded-opentype'), 
  url('/assets/Roboto-Bold.ttf')  format('truetype'), 
  url('/assets/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/** font family **/

body{
	font-family: 'ProximaNovaA-Light';
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto-Bold';
}

.main-navigation{
	background-color: #192742;
	color: #fff;
	border: none;
	border-radius: 0;
  margin-bottom: 0;
}

.main-logo{
  height: auto;
  overflow: hidden;
}
.top-navi-list{
  padding: 10px 0;
}

.top-navi-list li.active a{
  background-color: #999999 !important;
}
.top-navi-list li a{
  color: #FFFFFF !important;
  font-weight: bolder;
  outline: none;
  font-size: 15px;
}
.middle-section{
  background: url(../assets/top-bg.png) no-repeat;
  background-size: cover;
  display: block;
  min-height: 600px;
  width: 100%;
  text-align: center;
}
.middle-section .row{
  margin-left: 0;
  margin-right: 0;
  padding-top: 28%;
}
.middle-section .row span{
  font-family: 'Roboto-Bold';
  font-size: 40px;
  text-align: center;
  display: inline-block;
  color: #fff;
}

/** style for the typing text **/

.typed-cursor{
opacity: 1;
font-weight: 100;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
-ms-animation: blink 0.7s infinite;
-o-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}

@-webkit-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}

@-o-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}

/** style end for the typing text **/

.btn-start{
  background-color: #192742;
  height: 50px;
  border: none;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #FFFFFF;
}

.btn:hover, .btn:focus{
  color: #FFF !important;
}

.how-we-work-section{
  background-color: #f8f0e9;
  text-align: center;
  padding: 30px 0;
}
.how-we-work-section h1{
  font-size: 40px;
}
.how-we-work-section h1 strong{
  color: #f18621;
  font-weight: normal;
  font-family: 'ProximaNovaA-Light'; 
}
.we-are-global-section{
  padding: 40px 0;
  text-align: center;
}
.we-are-global-section h1{
  font-size: 30px;
  margin-bottom: 40px;
}
.we-are-global-section h1 em{
  font-style: normal;
  font-family: 'ProximaNovaA-Light'; 
  display: block; 
  color: #f18621;
  font-size: 40px;
}

.we-are-global-section i{
  color: #f18621;
}

.we-are-global-section p{
  font-size: 18px;
  margin-bottom: 40px;
  padding-top: 10px;
  text-transform: uppercase;
}

.testimonial-section{
  background-color: #f4f0ed;
  text-align: center;
}
.testimonial-section{
  padding: 30px 0 50px;
}
.testimonial-section i{
  color: #f18621;
}

.testimonial-section .left.carousel-control,
.testimonial-section .right.carousel-control{
  background: none;
}

.testimonial-section .carousel-indicators{
  bottom: -29px;
}
.testimonial-section .carousel-indicators li{
  background-color: #333;
}
.testimonial-section span{
  display: block;
}

.testimonial-section .carousel-indicators .active{
  background-color: #f18621;
}

.footer-part{
  background-color: #312e2b;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}
.footer-part button{
  background-color: #192742;
  height: 50px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.btm-footer-row{
  margin-top: 20px;
  margin-left: 39px;
  margin-right: 0;
}
.btm-footer-row ul li a{
  font-size: 16px;
}
.btm-social-links li a{
  color: #fff;
  font-size: 16px;
}

.footer-link a{
  color: #f18621;
  text-decoration: none;
}

/** About Us page's css start **/

.about-middle{
  background: url(../assets/about.png) no-repeat;
  min-height: 600px;
  padding: 40px 0;
  width: 100%;
  background-size: cover;
}

.aboutus-desc{
  background-color: rgba(0,0,0, 0.8);
  color: #fff;
  padding: 40px 30px;
  margin: 30px auto;
  font-size: 20px;
  width: 80%;
}
.aboutus-desc p{
  padding-bottom: 21px;
}
.aboutus-desc p strong{
  color:#f18621;
  font-size: 24px;
}

.aboutus-desc h1{
  text-align: center;
  font-size: 40px;
}
.aboutus-desc h1 em{
  font-style: normal;
  font-family: 'ProximaNovaA-Light';
  color: #f18621;
}

/** About Us page's css end **/


/** css for the services page start **/

.services-banner{
  background: url(../assets/services-banner.png) no-repeat;
  display: block;
  min-height: 400px;
  padding: 40px 0;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.services-banner h1{
  font-size: 40px;
  color: #fff;
  margin-bottom: 0;
  padding: 10% 0 0;
}
.services-banner h1 em{
  font-style: normal;
  font-family: 'ProximaNovaA-Light';
  color: #f18621;
}
.services-banner h3{
  margin-top: 0;
}

.services-content{
  padding: 30px 0;
}
.services-content h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.services-box {
  margin-bottom: 50px;
}
.services-box.right .services-icons {
  float: right;
}
.services-icons {
  display: inline-block;
  float: left;
  font-size: 30px !important;
  color: #f8f63c;
  line-height: 73px !important;
  background: #fefefe;
  width: 80px;
  text-align: center;
  border: solid 4px #fff;
  outline: 1px solid #dddddd;
  margin-top: -8px;
}
.right {
  text-align: right;
}
.services-box h3 {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 5px;
}
.services-box.right h3 {
  margin-right: 100px;
}
.services-box.right p {
  margin-right: 100px;
}
.services-box.left p {
  margin-left: 100px;
}
.services-box.left h3 {
  margin-left: 100px;
}
.services-box p {
  color: #777777;
  line-height: 20px;
  margin-bottom: 20px;
}
.services-box:hover .services-icons {
  color: #fff;
  background: #f8f63c;
  border-color: #f8f63c;
  outline: #f8f63c;
}

.services-link a{
  color: #192742;
}

/* css for the services page end */

/** css for the our-work page **/

.our-work-banner{
  background: url(../assets/work.JPG) no-repeat;
  display: block;
  width: 100%;
  background-size: cover;
  min-height: 400px;
  color: #fff;
  text-align: center;
}
.our-work-banner h1{
  font-size: 40px;
  color: #fff;
  margin-bottom: 0;
  padding: 10% 0 0;
}
.our-work-banner h1 em{
  font-style: normal;
  font-family: 'ProximaNovaA-Light';
  color: #f18621;
}
.our-work-banner h3{
  margin-top: 0;
}
.our-work-content{
  /*background-color: #f4f0ed;*/
  padding: 40px 0;

}
.our-work-content h1{
  color: #f18621;
  font-size: 40px;
  margin-bottom: 40px;
}
.project-title{
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto-Bold';
  color: #333;
  display: block;
  cursor: pointer;
}
.project-desc{
  margin-bottom: 40px;
}
.project-discussion img{
  height: 240px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.many-more{
  font-size: 30px;
}
/** css for the our-work page **/

/*** CSS for the sitemap page **/

.sitemap-banner{
  min-height: 300px;
  background-color: #9c9a00;
}
.sitemap-banner h1{
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  padding: 8% 0 0;
}
.block-content{
  width: 70%;
  margin: 0 auto;
}
.block-content h2{
  font-size: 40px;
  padding-top: 10px;
  border-bottom: 1px solid #d0cfcd;
  padding-bottom: 10px;
}
.block-content-texts p{
  font-size: 18px;
}
.block-content-texts ul li {
  padding-bottom: 10px;
  font-size: 16px;
}

/*** CSS for the sitemap page End**/

/** Css for the careers page start **/

.main-career-page{
 border-top: 1px solid #333;
 background-color: rgba(255, 255, 255, 0.5);
 padding: 50px 0;
}

.careers-head h1{
 text-align: center;
 font-size: 50px;
}

.careers-head p{
 font-size: 24px;
 font-weight: bolder;
}

.careers-head p em{
 font-style: normal;
 font-weight: normal;
 font-family: 'ProximaNovaA-Light';
 color: #f18621;
}

.open-position h3{
 font-size: 30px;
 text-transform: capitalize;
}
.job-desc p, .job-requirement p{
 font-size: 16px;
 font-weight: bolder;
}
.resume-para em{
 font-style: normal;
 font-weight: normal;
 font-family: 'ProximaNovaA-Light';
 color: #f18621;
}
.open-position ul li{
 list-style: square;
}
.open-position ul li a{
 font-size: 25px;
 color: #f18621;
 text-decoration: underline;
}

 a:visited {
  text-decoration: none;
  
}

.all-post{
  padding-bottom: 30px;
}

.icon{
  padding-top: 13px;
}

.icon a {
  color: #FFFFFF !important;
}

.heyday-logo img{
  width: 130px;
}

.recentpost{
  padding-top: 155px;
}


.comment-form {
  width: 58%;
  margin-left: -16px;
}

#map {
  height: 400px;
  width: 100%;
 }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.blog a{
  color: #192742;
  text-decoration: none;
}

.pagination>.active>span {
  background-color: #f18642 !important;
  border-color: #F18642 !important;
  color: none;
  text-decoration-color: #f18621 !important;
}

.address {
  margin-left: 28px;
}

.btn-warning {
  background-color: #f18642 !important;
  border-color: #f18642 !important;
}


/** CSS for the careers page begin **/

.map-frame{
  width: 100%;  
  overflow-x: hidden;
  overflow-y: auto;
}

 .mobiletest-html
 {
  overflow-y: scroll !important; 
 }
 .map-frame
 {
  margin-top: -40px;
  margin-bottom: : -10px;
 }
 