 <footer class="footer-part"><!--footer-part start -->
	<div class="container">
		<div class="row">
			<h1>Join HeyDay Technologies!</h1>
		<!-- 	<button class="btn btn-started">
				Let's Start
			</button> -->
			<%= link_to 'Lets Start', '/services', class: "btn btn-started btn btn-warning"  %>
		</div>
		<div class="row btm-footer-row">
			<ul class="list-inline footer-link">
				<li>
				  <%= link_to 'How it works', '/work' %>
				</li>
				<li>
					<%= link_to 'sitemap', '/sitemap' %>
				</li>
				<li>
					<%= link_to 'Blog', '/posts' %></li>
				</li>
				<!-- <li>
				  <a href="#">HTS channel</a>
				</li> -->
			</ul>
		</div>
		<hr>
    
		<div class="row">
			<div class="col-md-2 col-md-offset-2 col-sm-3 col-xs-12">
				<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
					<span>07314972670</span>
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p>
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					<span>hello@heydaytechnologies.com</span>
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<ul class="list-inline btm-social-links">
					<li>
						<a href="https://www.facebook.com/heydaytechnologies/" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					</li>
					<li>
						<a href="#">
						<i class="fa fa-google-plus" aria-hidden="true"></i> 
					</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-youtube" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</footer><!--footer-part start -->

