<nav class="navbar navbar-default main-navigation" id="header">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<%= link_to image_tag("/assets/2_main.png", alt: "heydaylogo"),"/" , {class: 'navbar-brand heyday-logo'} %>
			
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav top-navi-list">
				<li class="<%= active_class('/') %>"><%= link_to 'Home', '/' %>
				</li>
				<li class="<%= active_class('/aboutUs') %>"><%= link_to 'About Us', '/aboutUs' %></li>
				<li class="<%= active_class('/services') %>"><%= link_to 'Services', '/services' %></li>
				<li class="<%= active_class('/work') %>"><%= link_to 'Portfolio', '/work'%></li>
				<li class="<%= active_class('/career') %>"><%= link_to 'Careers', '/career' %></li>
				<li class="<%= active_class('/contact') %>"><%= link_to 'Contact Us', '/contact' %></li>
				<li class="<%= active_class(controller: 'posts', action: 'index') %>"><%= link_to 'Blog', '/posts' %></li>
			</ul>
      <div class="icon">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://www.facebook.com/heydaytechnologies/" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="#" >
						<i class="fa fa-google-plus" aria-hidden="true" target="_blank"></i> 
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-twitter" aria-hidden="true" target="_blank"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i>
					</a>
				</li>
			</ul>
			</div>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
