<!DOCTYPE html>
<html>
  <head>
    <title>HeyDay Technologies</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#192742">
    <meta name="msapplication-navbutton-color" content="#192742">
    <meta name="apple-mobile-web-app-status-bar-style" content="#192742">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <%= render 'layouts/header' %>
    <%= yield %>
     <%= render 'layouts/footer' %>
     <!--Start of Tawk.to Script-->
    
<!--End of Tawk.to Script-->
  </body>
 
</html>
